:root {
    --soft-blue: #007bff;
    --coder-pink: #ff69b4;
    --deep-blue: #003366;
    --emerald-green: #2e8b57;
    --vibrant-orange: #ffa500;
    --light-grey: #efe8e8;
    --dark-grey: #333333;
    --black: #000000;
    --light-red: rgba(130, 29, 22, 0.9);
    --dark-red: rgb(130, 29, 22);
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
    font-family: "Montserrat";
  }
  body {
    background-color: var(--light-grey);
  }
  #nav-bar,
  #logic-header {
    display: block;
  }
  #logic-header {
    margin: 2rem auto 4rem auto;
    font-family: "Playfair Display";
  }
  #nav-bar{
    margin:4rem auto;
  }
  #nav-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    font-size: 1.7rem;
  }
  .nav-link {
    text-decoration: none;
    font-weight: 500;
  }
  .nav-link:hover {
    font-weight: 600;
    font-size: 1.8rem;
  }
  .nav-link, .nav-link:hover, .nav-link:visited, .nav-link:active {
    color: black;
  }
  #nav-list li {
    list-style-type: none;
  }
  #logic-header {
    text-align: center;
    font-size: 4rem;
    margin: 4rem auto;
  }
  #walk-page {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  }
  #walk-page-left {
    padding: 20px;
    width: 60vw;
  }
  #article-header,
  .sub-header {
    font-family: "Playfair Display";
  }
  #article-header {
    font-size: 3rem;
  }
  #article-intro {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-family: "Lato";
  }
  .sub-header {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: var(--dark-grey);
    text-decoration: underline;
  }
  .plain-text {
    font-size: 1.8rem;
    font-family: "Lato";
  }
  #walk-page-right {
    width: 40vw;
    padding: 20px;
  }
  .code-bit {
    display: block;
    height: 100%;
    background-color: #1e1e1e;
    color: #dcdcdc;
    border-left: 4px solid #007bff;
    padding: 20px;
    margin: 0;
    border-radius: 5px;
    overflow-x: auto;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Fira Code", "Courier New", Courier, monospace;
  }
  pre {
    white-space: pre-wrap;
  }
  @media (max-width: 800px) {
    
    #walk-page {
      flex-direction: column;
    }
    #walk-page-left,
    #walk-page-right {
      display: block;
      width: 100%;
    }
  }
  